.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25D366; /* Color oficial de WhatsApp */
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 4px 15px rgba(37, 211, 102, 0.4);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.whatsapp-float:hover {
  transform: translateY(-5px);
  background-color: #128C7E;
  box-shadow: 0px 6px 20px rgba(37, 211, 102, 0.6);
  color: #FFF;
}

.whatsapp-icon {
  width: 35px;
  height: 35px;
}

@media (max-width: 768px) {
  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
  }
  .whatsapp-icon {
    width: 30px;
    height: 30px;
  }
}
